{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <div class="container">
            <li>
                <a href="{{source.url}}">{{ source.name| truncate(20) }}</a>
                <p>{{ source.description }}</p>
            </li>
        </div>
    {% endfor %}

{% endmacro %}

{% macro displayArticleList(article_list) %}

    {% for article in article_list %}
        <div class="container news-card">
            <img src="{{article.urlToImage}}" alt="news-image" class="img-responsive">
            <li class="text-center">
                <h2>{{ article.title }}</h2>
                <p> Written by: {{ article.author }}</p>
                <em> Published on: {{ article.publishedAt }}</em>
                <p>{{ article.description }}</p>
                <a href="{{article.url}}"> Read article </a>
            </li>
        </div>
    {% endfor %}

{% endmacro %}